src/main/java/modele/NomAlgorithme1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="algo" type="implemNomAlgorithme"/>

  <xs:complexType name="implemNomAlgorithme">
    <xs:sequence/>
    <xs:attribute name="nom" type="xs:string"/>
  </xs:complexType>
</xs:schema>

