serveur/src/main/java/modele/Livre1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="livre" type="implemLivre"/>

  <xs:complexType name="implemLivre">
    <xs:sequence>
      <xs:element name="titre" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

